
- @posts.each do |post|

  .post
    
    %h2= link_to post.title , post
    
    = post.user.name
    ="-"
    - if post.date
      =post.date.strftime("%d.%m.%Y")
    - else
      =post.updated_at.strftime("%d.%m.%Y")

    - if !post.body.embeds.empty? and ( post.body.embeds[0].image? or post.body.embeds[0].video? )
      .article_preview  
        .article_photo
          = link_to image_tag(post.body.embeds[0].representation(resize_to_limit: [600, 400])), post
        .article_summary
          =post.summary
    - else
      .article_preview  
        =post.summary


    =#%p=post.body
    

    %br
    %hr
    %br

=raw(pagy_nav(@pagy))



 
