%br
%br

%h2= link_to post.title , post

von 
= post.user.name
| 
= link_to t('content.edit'), edit_post_path(post)
| 
= link_to t('content.destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }

