%h1= @post.title


%em
  von 
  =@post.user.name

%br
%br
=@post.body

- if !@post.body.embeds.empty?
  
  =#debug(@post.body.embeds[0])

  - if @post.body.embeds[0].metadata["longitude"]

    %br
    %hr
    %br 
    #map
    = render :partial => 'map', :locals => { :embeds => @post.body.embeds }




=# NOT USED CURRENTLY

=#- if @post.photo.attached? 
=#  
=#  %br
=#  = image_tag(@post.photo.variant(resize: 200), width: 200) 
=#  %br
=#  %br



%br
%hr
%br
= link_to t('navigation.all_posts'), posts_path
- if current_user == @post.user
  \|
  = link_to t('content.edit'), edit_post_path(@post)







