%h1= @post.title


=render(@post)



- if !@post.body.embeds.empty?
  
  - if @post.body.embeds[0].metadata["longitude"]

    %br
    %br 

    %img{:src => @post.map_with_pins, :style => "width:100%;"}
  




=# NOT USED CURRENTLY

=#- if @post.photo.attached? 
=#  
=#  %br
=#  = image_tag(@post.photo.variant(resize: 200), width: 200) 
=#  %br
=#  %br


