/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //= require actiontext


.wrapper {
  display: grid;
  grid-template-columns:
    1fr
    calc(min(100ch, 100%))
    1fr;
  background: linear-gradient(
    180deg,
    #{'hsla(39deg 77% 83%) 0%'},
    #{'hsla(39deg 77% 80%) 11%'},
    #{'hsla(39deg 77% 77%) 22%'},
    #{'hsla(39deg 77% 74%) 33%'},
    #{'hsla(39deg 77% 71%) 44%'},
    #{'hsla(39deg 77% 69%) 56%'},
    #{'hsla(39deg 76% 66%) 67%'},
    #{'hsla(39deg 76% 63%) 78%'},
    #{'hsla(39deg 76% 59%) 89%'},
    #{'hsla(39deg 76% 56%) 100%'}
  );
}
.wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}