/*
.trix-content .attachment-gallery {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

action-text-attachment, .trix-content .attachment-gallery > .attachment {
  flex: 1 0 33%;
  padding: 0px !important;
}
*/